<header class="mega-menu-drawer-container">
  <div class="header-icon">
    <span>
      {% render 'icon-hamburger' %}
      {% render 'icon-close' %}
    </span>
  </div>

  <nav id="mega-menu-drawer-wrapper">
    <ul class="mega-menu-drawer">
      {% for block in section.blocks %}

        {% if forloop.index0 != 0 and block.type == 'top-item' %}
            </div>
          </li>
        {% endif %}

        {% if block.type == 'top-item' %}
          <li class="mega-menu-drawer-top-link">
            <a href="{{ block.settings.navigation_url }}">{{ block.settings.title }}</a>
            <div class="mega-menu-dropdown">
        {% endif %}

        {% if block.type == 'menu-links' %}
          <div class="mega-menu-dropdown-col">
            {% if block.settings.title != blank %}
              <span class="h2">{{ block.settings.title }}</span>
            {% endif %}
            <ul>
              {% for link in linklists[block.settings.link_list].links %}
                <li><a href="{{ link.url }}">{{link.title}}</a></li>
                {% for childlink in link.links %}
                  <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                {% endfor %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if forloop.last == true %}
            </div>
          </li>
        {% endif %}

      {% endfor %}
    </ul>
  </nav>
</header>


<nav class="mega-menu-inline-wrapper">

  <div class="mega-menu-logo-wrapper">
    <a href="{{ routes.root_url }}">
      {%- if section.settings.logo != blank -%}
        {%- assign image_size = section.settings.logo_width | append: 'x' -%}
        <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
          src="{{ section.settings.logo | img_url: image_size }}"
          loading="lazy"
          width="{{ section.settings.logo.width }}"
          height="{{ section.settings.logo.height }}"
          alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
        >
      {%- else -%}
        <span class="h2">{{ shop.name }}</span>
      {%- endif -%}
    </a>
  </div>

  <ul class="mega-menu">
    {% for block in section.blocks %}

      {% if forloop.index0 != 0 and block.type == 'top-item' %}
          </div>
        </li>
      {% endif %}

      {% if block.type == 'top-item' %}
        <li class="mega-menu-top-link">
          <a href="{{ block.settings.navigation_url }}">{{ block.settings.title }}</a>
          <div class="mega-menu-dropdown">
      {% endif %}

      {% if block.type == 'menu-links' %}
        <div class="mega-menu-dropdown-col">
          {% if block.settings.title != blank %}
            <span class="h2">{{ block.settings.title }}</span>
          {% endif %}
          <ul>
            {% for link in linklists[block.settings.link_list].links %}
              <li><a href="{{ link.url }}">{{link.title}}</a></li>
              {% for childlink in link.links %}
                <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if block.type == 'menu-image' %}
        <div class="mega-menu-dropdown-col">
          <div>
            <a href="{{ block.settings.navigation_image_link }}">
              <div>
                <img
               		src="{{- block.settings.navigation_image | img_url: '600x' -}}"
              	  height="{{ block.settings.navigation_image.height }}"
              	  width="{{ block.settings.navigation_image.width }}"
                  loading="lazy"
                  alt="{{ block.settings.navigation_image.alt }}" />
              </div>
            </a>
          </div>
        </div>
      {% endif %}

      {% if forloop.last == true %}
          </div>
        </li>
      {% endif %}

    {% endfor %}
  </ul>

</nav>


<script>
document.addEventListener('click', function (event) {

  var element_drawer = document.getElementById('mega-menu-drawer-wrapper');
  var element_burger = document.getElementById('icon-hamburger');
  var element_close = document.getElementById('icon-close');

  if (event.target.matches('.icon-hamburger')){
    element_drawer.classList.add('active');
    element_burger.classList.remove('active');
    element_close.classList.add('active');
  }else if (event.target.matches('.icon-close')){
    element_drawer.classList.remove('active');
    element_close.classList.remove('active');
    element_burger.classList.add('active');
  }
});
</script>
