{% render 'render-main-menu', section:section %}

{% schema %}
{
  "name": "Main Menu",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "px",
      "label": "Logo Width"
    }
  ],
	"blocks": [{
			"type": "top-item",
			"name": "Top-level Menu",
			"settings": [{
					"id": "title",
					"type": "text",
					"label": "Title"
				},
				{
					"id": "navigation_url",
					"type": "url",
					"label": "Url"
				}
			]
		},
		{
			"type": "menu-links",
			"name": "Link List",
			"settings": [
        {
					"id": "title",
					"type": "text",
					"label": "Title"
				},
        {
					"id": "link_list",
					"type": "link_list",
					"label": "Menu"
				}
			]
		},
		{
			"type": "menu-image",
			"name": "Image",
			"settings": [
				{
					"id": "navigation_image",
					"type": "image_picker",
					"label": "Featured Image"
				},
				{
					"id": "navigation_image_link",
					"type": "url",
					"label": "Featured Image Link"
				}
      ]
    }
	]
}
{% endschema %}
